In [31]:
import pandas as pd

df = pd.read_csv('seoul_apart.csv')
df.head()

       지역명  법정동         거래일        아파트    전용면적   층  건축년도    거래금액
0  서울시 종로구  내수동  2018-01-13  경희궁의아침2단지  140.78  15  2004  130000
1  서울시 종로구  내수동  2018-01-19  경희궁 파크팰리스  103.77   5  2003   96000
2  서울시 종로구  내수동  2018-01-23  경희궁의아침3단지  123.13  10  2004  118000
3  서울시 종로구  내수동  2018-01-30      세종로대우   66.96  13  1994   54500
4  서울시 종로구  내수동  2018-01-31      세종로대우   76.66  11  1994   64000

### 전용 면적 평수로 변환

In [21]:
df['전용면적'] = (df['전용면적'] * 0.3025).round(1)
df.rename(columns={'전용면적': '평수'}, inplace=True)
df

            지역명  법정동         거래일        아파트    평수   층  건축년도    거래금액
0       서울시 종로구  내수동  2018-01-13  경희궁의아침2단지  42.6  15  2004  130000
1       서울시 종로구  내수동  2018-01-19  경희궁 파크팰리스  31.4   5  2003   96000
2       서울시 종로구  내수동  2018-01-23  경희궁의아침3단지  37.2  10  2004  118000
3       서울시 종로구  내수동  2018-01-30      세종로대우  20.3  13  1994   54500
4       서울시 종로구  내수동  2018-01-31      세종로대우  23.2  11  1994   64000
...         ...  ...         ...        ...   ...  ..   ...     ...
630183  서울시 강동구  강일동  2023-04-16  강동리버스트4단지  15.1   7  2020   60000
630184  서울시 강동구  강일동  2023-04-20  강일리버파크4단지  25.7   5  2009   86000
630185  서울시 강동구  강일동  2023-04-21  강일리버파크6단지  25.6   8  2009   85000
630186  서울시 강동구  강일동  2023-04-22  강일리버파크3단지  25.6   8  2009   84000
630187  서울시 강동구  강일동  2023-04-22  강동리버스트4단지  15.1   7  2020   61000

[630188 rows x 8 columns]

### 거래일 년도로 분류, 면적당 가격 컬럼 추가, 아파트 컬럼 제거, 중복 값 제거

In [23]:
df['거래일'] = df['거래일'].str[:4]
df['평당 가격'] = (df['거래금액'] / df['평수']).round(2)
df = df.drop('아파트',axis=1)
df = df.drop(626502,axis=0)
df.head()

       지역명  법정동   거래일    평수   층  건축년도    거래금액    평당 가격
0  서울시 종로구  내수동  2018  42.6  15  2004  130000  3051.64
1  서울시 종로구  내수동  2018  31.4   5  2003   96000  3057.32
2  서울시 종로구  내수동  2018  37.2  10  2004  118000  3172.04
3  서울시 종로구  내수동  2018  20.3  13  1994   54500  2684.73
4  서울시 종로구  내수동  2018  23.2  11  1994   64000  2758.62

### 거래일이 2023인 값 삭제

In [24]:
df = df[df['거래일'] != 2023]

In [25]:
df[df['평수'] > 40]

            지역명  법정동   거래일    평수   층  건축년도    거래금액    평당 가격
0       서울시 종로구  내수동  2018  42.6  15  2004  130000  3051.64
35      서울시 종로구  무악동  2018  47.6  11  2008  130000  2731.09
36      서울시 종로구  사직동  2018  44.4   9  2008  110000  2477.48
43      서울시 종로구  사직동  2018  44.6   6  2008  132000  2959.64
81      서울시 종로구  평창동  2018  42.5   1  2008   72000  1694.12
...         ...  ...   ...   ...  ..   ...     ...      ...
629839  서울시 강동구  명일동  2023  40.4   9  1986  152000  3762.38
629841  서울시 강동구  명일동  2023  40.4   9  1986  155000  3836.63
630027  서울시 강동구  명일동  2023  40.4   9  1986  156000  3861.39
630159  서울시 강동구  암사동  2023  43.2   8  2003  131000  3032.41
630173  서울시 강동구  천호동  2023  40.1   9  2007  100000  2493.77

[32577 rows x 8 columns]

In [26]:
df.to_csv('seoul_apart5.csv',index=False)